* {
	margin: 0;
	padding: 0;
}
.profile {
	margin: 10px auto 30px;
	width: 50%;
	border: 1px solid gray;
	box-shadow: 0 0 5px 2px gray;
	font-family: Tahoma;
}
.profile-box {
	width: 90%;
	margin: 0 auto;
}
.header {
	margin: 30px auto;
	text-align: center;
	font-family: Tahoma;
	font-size: 16px;
}
.content-me p {
	margin: 15px 0 15px 10px;
}
.block {
	padding: 0 30px;
}
.list {
	display: block;
	margin: 35px 0 15px 30px; 
}
.box-img {
	display: block;
	margin: 0 auto;
	width: 365px;
	height: 250px;
}
.displayed {
    max-width: 100%;
    max-height: 100%;
}
.contact-tel {
	display: block;
	margin: 15px 0 40px 10px;
}
.contact-social {
	display: block;
	margin: 0 0 20px 10px;
}
.footer {
	display: block;
	margin: 15px 0 20px 10px;
}