$font-stack:       'Ubuntu Medium', arial, sans-serif;
$font-stack-add:    arial, sans-serif;
$font-header-menu:  'Ubuntu Condensed', arial, sans-serif;
$bg-color:          #2B2E34;
$white:             #fff;