@font-face{
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
 }  
 @font-face{
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
  @font-face{
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf')   format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto-light-webfont.eot');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    font-weight: normal;
    font-style: normal;}

    // font-family: 'Roboto Black';
    // src: url('../fonts/Roboto-Black.ttf') format('truetype');
    // font-family: 'Roboto Black Italic';
    // src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    // font-family: 'Roboto Bold';
    // src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    // font-family: 'Roboto Bold Italic';
    // src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    // font-family: 'Roboto Italic';
    // src: url('../fonts/Roboto-Italic.ttf') format('truetype');

    // font-family: 'Roboto Light Italic';
    // src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    // font-family: 'Roboto Medium';
    // src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    // font-family: 'Roboto Medium Italic.ttf';
    // src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    // font-family: 'Roboto Regular';
    // src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    // font-family: 'Roboto Thin';
    // src: url('../fonts/Roboto-Thin.ttf') format('truetype');
    // font-family: 'Roboto Thin Italic';
    // src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
   
/*start reset*/
body, div, dl, dt,dd, ul,ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, hr, td {
margin:0; padding:0;
} 
table {
  border-collapse:collapse; border-spacing:0;
}
fieldset, img {
  border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style:normal; font-weight:normal;
}
ol, ul {
  list-style:none;
}
caption, th {
  text-align:left;
}
h1, h2, h3, h4, h5, h6 {
  font-size:100%; font-weight:normal;
}
q:before, q:after {
  content:'';
}
abbr, acronum {
  border:0;
}
/*end reset*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

a img {
    border: none; 
}
