


/*
 * 
 * 
 * 
 * 
 * 
 * 
max-width: more than 1440px*/
@media screen and (min-width: 1441px){
  .main{
    width: 1442px;
    margin: 0 auto;
   
  }
  
   .header-wrapper{
    display: block;
  text-align: center;
  width: 1440px;
  height: 700px;
  padding-top: 37px;
  background-color: $black;
  background: url('../img/1440-bg.jpg') center 0 no-repeat;
  color: $white;
  font-family: $font-stack;
  .header-wrapper__login-sing-up{
    display: block;
    float: right;
    width: 165px;
    margin-right: 17%;
    margin-top: 1px;
    
    a{
      text-decoration: none;
      color: $white;
    }
    
  .log-in{
    font-style: normal;
    color: $white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 9px;
  }
  .header-wrapper__sign-up{
    margin-left: 7%;
    padding: 7px 9%;
    border: 2px solid $white;
    @include border-radius(20px);
    display: inline-block;
    font-size: 14px;
  }
  }
  h3{
    display: block;
    float: left;
    margin-top: 13px;
    margin-left: 17%;
    letter-spacing: 0.02vw;
    padding-left: 0.3vw;
    font-size: 21px;
  }
  h2{
    margin: 0 auto;
    margin-top: 178px;
    font-size: 52px;
    display: block;
    width: 40%;
    line-height: 62px;
    padding-right: 3px;
    
  }
  p{
    margin: auto;
    width: 55%;
    margin-top: 27px;
    font-size: 24px;
    line-height: 22px;
    font-family: $font-par;
  }
  .header-wrapper__find-btn{

    margin-top: 38px;
    padding: 11px 23px;
    font-family: $font-stack;
    @include border-radius(20px);
    background-color: #FF4F51;
    display: inline-block;
    a{
    
    color: $white;
    font-weight: bold;
    font-size: 14px;
  }
  }
}

.content-steps{
  padding-top: 99px;
  content: '';
  overflow: hidden;
  clear: both;
  text-align: center;
  width: 100%;


  h3{
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 25%;
  padding-right: 4px;
  font-family: $font-stack;
  font-size: 22px;
  margin-bottom: 17px;
  }
  
  .content-steps__step{
    display: inline-block;
    //float: left;
    
    width: 300px;
    height: 400px;
    @include border-radius(3px);
    margin: 20px 8px;
   
     
 .img{    
    width: 100%;
    height: 400px;
   
      } 
        .one{    
    background: url('../img/cont1440-first-bg.jpg') center 0 no-repeat;
     
  }
    .two{
    background: url('../img/cont1440-second-bg.jpg') center 0 no-repeat;
   
  }
    .three{
    background: url('../img/cont1440-third-bg.jpg') center 0 no-repeat;
    
  }

     
     
     .content-steps__btn{
    font-style: normal;
    top: 231px;
    left: 22px;
    padding: 0 12px;
    
    @include border-radius(20px);
    background-color: #FF4F51;
    display: inline-block;
    position: absolute;
    z-index: 888;
        a{
        font-family: $font-btn;
        color: $white;
        font-size: 10px;
        line-height: 16px;
        letter-spacing: 2px; 

        }
     }
     
    .second-btn{
    top: 261px;
    left: 21px;
     }
     
    .content-steps__h3{
      text-align:left;
      color: $white;
      font-family: $font-stack;
      font-size: 24px;
      margin-bottom: 0px;
      position: absolute;
      width: 90%;
      top: 265px;
      left: 18px;
      line-height: 29px;
      z-index: 888;
      
      }
      .second-h3{

      top: 295px;
      line-height: 29px;
      left: 6%;
      }
      .third-h3{
      top: 265px;
      left: 7%;
      }
     .content-steps__p{
      text-align:left;
      padding-right: 5px;
      line-height: 17px;
      color: $white;
      font-family: $font-par;
      font-size: 14px;
      position: absolute;
      width: 91%;
      top: 334px;
      letter-spacing: -0.001vw;
      left: 19px;
      z-index: 888;
      }
      .second-p{
      letter-spacing: 0.007vw;
      top: 334px;
      width: 276px;
      }
      .third-p{
      letter-spacing: 0.004vw;
      }
   } 

    

    
}


// jQuery-плагин-слайдер

html, body {
  height:100%;
  font:normal 12px/18px Arial, san-serif;
}
.slider_wrap {
   
position:relative;
overflow:hidden;
}
.slider_wrap .img {
    width: 100%;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    left: 0px;  
}
.slider_wrap .img:first-child {
display:block;
}
.slider_wrap span {
margin-top:-13px;
width:15px;
height:26px;
display:block;
position:absolute;
top:45%;
cursor:pointer;
background:url(../img/slider2_arrow.png) no-repeat;
}
.slider_wrap span.next {
right:16px;
background-position:-15px 0;
}
.slider_wrap span.next:hover {
background-position:-15px -26px;
}
.slider_wrap span.prev {
left:16px;
background-position: 0 0;
}
.slider_wrap span.prev:hover {
background-position: 0 -26px;
}

//End jQuery-плагин-слайдер



.content-partners{
    padding-top: 72px;
    line-height: 26px;
    text-align: center;
    margin-right: 1%;
    width: 99%;

    
  
  h3{
  width: 30%;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
  color: $black;
  font-family: $font-stack;
  font-size: 22px;
  margin-bottom: 29px;
  }
.wrapper-partners{
  width: 72%;
  height: auto;
  display: inline-block;
  margin-bottom: 7px;


}
    
 .wrapper-partners:after{
      content: '';
    display: block;
    clear: both;

  }
  

// description partner-1
  .partner-1{
    margin-bottom: 13px;
    width: 250px;
    height: 240px;
    //float: left;
    display: inline-block;
    vertical-align: top;

  .partner-img{
    display: block;
    position: relative;
    width: 125px;
    height: 126px;
    top: 3px;
    left: 30px;
    margin: auto;
   background: url('../img/partner-1.png') no-repeat;
    .partner-icon{
    display: block;
    position: absolute;
    top: 85px;
    left: 83px;
    width: 41px;
    height: 41px;
    background: url("../img/icon-tv.png") no-repeat;

   }
   
   
   }.partner-name:after{
     content: "Bradley Hunter";
     display: block;
     margin-top: 10px;
     margin-left: 54px;
     text-align:center;
     color: $black;
     font-family: $font-stack;
     font-size: 14px;
   }
   p:after{
    content: "Based in Chicago. I love playing tennis and loud music.";
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 9px;
    margin-left: 52px;
    width: 198px;
    line-height: 18px;
    letter-spacing: 0.01vw;
    color: #656565;
    font-family: $font-par;
    font-size: 14px;
      
   }
}

// End description partner-1


// description partner-2
  .partner-2{
    margin-bottom: 13px;
    width: 250px;
    height: 240px;
    //float: left;
    display: inline-block;
    vertical-align: top;
  .partner-img{
    display: block;
    position: relative;
    width: 125px;
    height: 126px;
    top: 3px;
    left: 16px;
    margin: auto;
   background: url('../img/partner-3.png') no-repeat;
    .partner-icon{
    display: block;
    position: absolute;
    top: 85px;
    left: 85px;
    width: 41px;
    height: 41px;
     background: url('../img/icon-tl.png') no-repeat;
   }
   
   
   }
   .partner-name:after{
     content: 'Heather Walker';
     display: block;
     margin-top: 11px;
     margin-left: 28px;
     text-align:center;
     color: $black;
     font-family: $font-stack;
     font-size: 14px;
    }
  p:after {
     content: "I'm a happy person that loves cats and climbing on mountains.";
display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    margin-left: 31px;
    width: 215px;
    line-height: 17px;
    letter-spacing: 0.01vw;
    color: #656565;
    font-family: "Roboto Light";
    font-size: 14px;
    color: #656565;
    font-family: $font-par;
    font-size: 14px;
   
}
}

// End description partner-2


// description partner-3
  .partner-3{
    margin-bottom: 13px;
    width: 250px;
    height: 240px;
    //float: left;
    display: inline-block;
    vertical-align: top;


  .partner-img{
    display: block;
    position: relative;
    width: 128px;
    height: 127px;
    top: 3px;
    left: 5px;
    margin: auto;
    background: url('../img/partner-2.png') no-repeat;
    .partner-icon{
    display: block;
    position: absolute;
    top: 85px;
    left: 85px;
    width: 41px;
    height: 41px;
    background: url('../img/icon-sc.png') no-repeat;
   }
   
   }
   .partner-name:after{
    content: 'Lucas Marsha';
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 1px;
    color: $black;
    font-family: $font-stack;
    font-size: 14px;
    }
   

   p:after{
     content:"I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.";
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 222px;
    line-height: 17px;
    letter-spacing: 0.007vw;
    margin-left: 14px;
    color: #656565;
    font-family: $font-par;
    font-size: 14px;
   }
}

// End description partner-3


// description partner-4
  .partner-4{
    margin-bottom: 13px;
    width: 250px;
    height: 240px;
    //float: left;
    display: inline-block;
    vertical-align: top;

  .partner-img{
    display: block;
    position: relative;
    width: 128px;
    height: 127px;
    top: 3px;
    left: -8px;
    margin: auto;
    background: url('../img/partner-4.png') no-repeat;
    .partner-icon{
    display: block;
    position: absolute;
    top: 85px;
    left: 85px;
    width: 41px;
    height: 41px;
background: url('../img/icon-me.png') no-repeat;

   }
   
   
   }
   .partner-name:after{
     content: "Bradley Hunter";
     display: block;
     margin-top: 10px;
     margin-left: -24px;
     text-align:center;
     color: $black;
     font-family:   $font-stack;
     font-size: 14px;
   }
   p:after{
    content: "Based in Chicago. I love playing tennis and loud music.";
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    margin-left: 9px;
    width: 206px;
    line-height: 18px;
    letter-spacing: 0.005vw;
    color: #656565;
    font-family: $font-par;
    font-size: 14px;
      
   }
}

// End description partner-4
.wrapper-btn{
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 99px;
.content-partners__find-btn{

    border-radius: 20px;
    border: 2px solid #FF4F51;
    display: block;
    width: 192px;
    padding: 4px 0px;
    margin-left: 11px;
    font-family: $font-stack;
    @include border-radius(20px);
    border: 2px solid #FF4F51;

    a{
    
    color: #FF4F51;
    font-weight: bold;
    font-size: 14px;
  }
  }
}
   
}

.content-partners:after {
  content: '';
  display: block;
  clear: both;
}


.discover{
  width: 100%;
 display: block;
  text-align: center;
    h3{  
      display: inline-block;
      color: $black;
      font-family: $font-stack;
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 13px;
      margin-left: -3px;
    }
   
  }
  
 /////// My masonry 
  .grid {

  margin: 0 auto;
  width: 960px;
  
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 300px;
  margin: 11px 10px;
   div{//позиционирование надписи внутри блока
      display: block;
      position: absolute;
      width: 84%;
      margin: auto;
      top: 50%; 
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
      color: $white;
      font-family: $font-stack;
      font-size: 22px;
       margin-bottom: 14px;
       p{
               text-align: center;
             }
}
  
}

.grid-item {
  display: block;
  height: 309px;
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
 
}

.grid-item--width2 { 
  width: 620px;
  //min-width: 236px;
  }


  
  
  
  
  ////////Mymasorny 
  // .masonry-wrapper{
   // max-width: 768px;
   // padding: 0px;
   // margin: 0 auto;
//    
  // .grid-sizer,
  // .item {
  // width: 31%;
// }
   // .item {
      // display: block;
      // position: relative;
      // width: 236px;
      // height: 308px;
      // overflow: hidden;
      // float: left;
     // margin: 11px 10px;
     // @include border-radius(3px);
      // display: block;
//        
    // div{//позиционирование надписи внутри блока
      // display: block;
      // position: absolute;
      // width: 84%;
      // margin: auto;
      // top: 50%; 
      // left: 50%;
      // -webkit-transform: translate(-50%,-50%);
        // -ms-transform: translate(-50%,-50%);
            // transform: translate(-50%,-50%);
      // color: $white;
      // font-family: $font-stack;
      // font-size: 22px;
      // margin-bottom: 14px;
      // p{
              // text-align: center;
            // }
//             
    // }//позиционирование надписи внутри блока
  // }
//   
  // .item-w2{
//   
      // width: 64%; 
//    
//       
  // }
//   
//   
  // }
  // .masonry-wrapper:after {
  // content: '';
  // display: block;
  // clear: both;
// }


.input-activities{
  content: '';
 overflow: hidden;
 clear: both;
  text-align: center;
  margin-bottom: 60px;
  h3{
      text-align: center;
      color: $black;
      font-family: $font-stack;
      font-size: 22px;
      margin-bottom: 33px;
      margin-top: 86px;
      margin-left: -3px;
  }
  p{
    text-align: center;
      color: $black;
      font-family: $font-par;
      font-size: 18px;
      margin-bottom: 40px;
      margin-left: -3px;
   
  }
  .inpt-btn{
    text-align: center;
    display: inline-block;
    width: 69%;
    margin: 0 auto;
  
  .input-activities__input-search{
    display: inline-block;
    //float: left;
    margin: 0 auto;
    margin-left: -1px;
    width: 240px;
    height: 40px;
    @include border-radius(3px);
    border: none;
    border: 1px solid #CBCBCB;
    font-family: $font-par;
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .input-activities__find-btn{

    display: inline-block;
    //float: right;
    //margin-right: 179px;
    padding: 11px 24px;
    font-family: $font-stack;
    @include border-radius(20px);
    background-color: #FF4F51;
 
    display: inline-block;
    margin-bottom: 39px;
    margin-left: 7px;
    a{
    
    color: $white;
    font-weight: bold;
    font-size: 14px;
  }
  }
 }
}
.footer{
  display: block;
  width: 100%;
  height: 200px;
  border-top: 5px solid #FF4F51;

  padding-top: 20px;
.wrapper-footer{
  width: 1440px;
  margin: auto;
}
 
   h3{
      display: block;
      float: left;
      color: #FF4F51;
      font-family: $font-stack;
      font-size: 16px;
      letter-spacing: 1px;
      margin-top: 15px;
      margin-left: 248px;
      margin-right: 52px;
  }
  .footer__company{

    display: block;
    float: left;
    width: 156px;
    margin-right: 4px;

    h4{
      text-align: center;
      color: $black;
      font-family: $font-stack;
      font-size: 14px;
      letter-spacing: 0px;
      margin-bottom: 1px;
      margin-top: 15px;
      margin-left: 0px;
  }
  .bottom__menu {
    display: block;
    width: 130px;
    margin: 0 auto;
    margin-top: 12px;
    }

.bottom__menu .menu__item {
    display: block;
    margin-left: 31px;
    margin-top: 5px;
    padding: 0;
}

.bottom__menu .menu__link {
    padding: 0 0;
}

.bottom__menu .menu__link {
    color: $black;
    font-family: $font-par;
    font-size: 14px;
    text-decoration: none;
    
}

.bottom__menu .menu__link:hover {
    border-bottom: 2px solid #FF4F51;
}

} 
}
.footer__partners{
    display: inline-block;
    text-align: center;
    float: left;
    width: 61px;
    margin-left: 43px;
    margin-right: 41px;;
    h4{
    text-align: center;
      color: $black;
      font-family: $font-stack;
      font-size: 14px;
      letter-spacing: 0px;
      margin-bottom: 1px;
      margin-top: 15px;
  }
}
.logo{
  text-align: center;
  display: inline-block;
  width: 120px;
  margin-left: 324px;
  //float: left;
  p{
    width: 91px;
    text-align: center;
    color: #E3E3E3;
    font-family: $font-stack;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 4px;
    margin-left: 31px;
    margin-top: 14px;
  }
  img{
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
  }
}
}